<footer>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->

   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
     integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
   <section class="footers bg-light pt-5 pb-3">
     <div class="container pt-5">
       <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
           <div class="footers-logo">
             <b style="font-size: 20px;">Redes Sociales</b>
           </div>
           <div class="footers-info mt-3">
             <p> </p>
           </div>
           <div class="social-icons">
             <a href="https://www.facebook.com/" style="margin-right: 5px;"><i id="social-fb"
                 class="fa fa-facebook-square fa-2x social"></i></a>
             <a href="https://twitter.com/" style="margin-right: 5px;"><i id="social-tw"
                 class="fa fa-twitter-square fa-2x social"></i></a>
             <a href="https://plus.google.com/" style="margin-right: 5px;"><i id="social-gp"
                 class="fa fa-google-plus-square fa-2x social"></i></a>
             <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                 class="fa fa-envelope-square fa-2x social"></i></a>
           </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
           <h5>Herramientas</h5>
           <ul class="list-unstyled">
             <li><a href="maintenance.html">Lorem, ipsum.</a></li>
             <li><a href="contact.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
           </ul>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
           <h5>Contacto</h5>
           <ul class="list-unstyled">
             <li><a href="maintenance.html">Lorem, ipsum.</a></li>
             <li><a href="contact.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
           </ul>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
           <h5>Explore </h5>
           <ul class="list-unstyled">
             <li><a href="maintenance.html">Lorem, ipsum.</a></li>
             <li><a href="contact.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
           </ul>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
           <h5>Company </h5>
           <ul class="list-unstyled">
             <li><a href="maintenance.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="about.html">Lorem, ipsum.</a></li>
             <li><a href="contact.html">Lorem, ipsum.</a></li>
           </ul>
         </div>

       </div>
     </div>
   </section>
   <section class="disclaimer bg-light border">
     <div class="container">
       <div class="row ">
         <div class="col-md-12 py-2">
           <small>
             Queda prohibido copiar, reproducir, distribuir, publicar, transmitir, difundir, o en cualquier modo
             explotar cualquier parte de este servicio sin la autorización previa por escrito de Androidphoria o de
             los titulares correspondientes. Sin embargo, usted podrá bajar material a su computadora personal para
             uso exclusivamente personal o educacional y no comercial limitado a una copia por página. Usted no podrá
             remover o alterar de la copia ninguna leyenda de Derechos de Autor o la que manifieste la autoría del
             material.
           </small>
         </div>
       </div>
     </div>
   </section>
   <section class="copyright border">
     <div class="container">
       <div class="row text-center">
         <div class="col-md-12 pt-3">
           <p class="text-muted">© 2021 RVM/JON</p>
         </div>
       </div>
     </div>
   </section>
 </footer>