<body>

    <header>

        <h1>Mi Mapa</h1>

    </header>

    <nav>
        <form>

            <h4>Desde el Día: </h4>
            <input type="date" name="" id="">

           <p> latitud: {{latitud}} </p>
           <p>longitud: {{longitud}}</p>





        </form>
    </nav>


    <main>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, obcaecati nulla dignissimos ipsam aperiam consequatur minus eligendi perspiciatis exercitationem asperiores iure dolore quis quam vel officiis ducimus veniam itaque laboriosam.
        <section>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ut aut molestias. Accusamus veritatis, in atque sint odit illo, asperiores voluptatum ut dolorem, sapiente maiores quidem architecto nostrum saepe doloribus!


        </section>



    </main>

</body>