.border-md {
  border-width: 2px;
}

.btn-facebook {
  background: #405d9d;
  border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #314879;
}

.btn-twitter {
  background: #2c9ee0;
  border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1875af;
}

body {
  min-height: 100vh;
  background: rgb(20,58,103);
  background: linear-gradient(170deg, rgba(20,58,103,1) 0%, rgba(50,94,148,1) 42%, rgba(254,254,254,1) 100%);
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.navbar-brand{
  margin-left: 30%;
}

.navbar-brand img{
  height: 160px;
  width: 390px;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-control:focus {
  box-shadow: none;
}

#titulo{

   color: white;
   text-align: center;
   text-shadow: 5px 5px 1px rgb(61, 61, 61);
}

#registrado{
  color: white;
}