<!-- <div class="row">
  <div class="col-md-4" *ngFor="let prod of products">
    <div class="card text-center" style="margin-bottom: 20px;">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{prod.nombre}}
        <button class="btn btn-danger" (click)="deleteProduct(prod.idProd)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="prod.url">
      <div class="card-body">
        <p style="color: black;">{{prod.descripcion}}</p>
        <p style="color: black;">Precio: ${{prod.precio}}</p>
        <a [routerLink]="['/Producto/Edit', prod.idProd]" class="btn btn-info">
          Editar
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <button type="button" class="col-md-12 btn btn-info" routerLink="/AddProducto">Agregar Producto</button>
</div> -->