<div id="principal" class="container-fluid">
  <div class="container mx-auto mt-4">
    <div class="row">
      <div *ngFor="let item of Dreclamos " class="col-md-4">
  
        <div class="card" style="width: 18rem;">
          <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
  
          <div class="card-body">
            <h5 class="card-title"> <i class="far fa-user"> Usuario: {{item.nick}} </i></h5>
            <h6 class="card-subtitle mb-2 text-muted"> <i class="far fa-bookmark"> Nrº Reclamo: {{item.iD_Reclamo}}</i></h6>
            <h6 class="card-subtitle mb-2 text-muted"> <i class="far fa-bookmark"> Estado: {{item.nombre}}</i></h6>
            <h6 class="card-subtitle mb-2 text-muted"> <i class="far fa-bookmark"> Tipo: {{item.nombreTEstado}}</i></h6>
           
            <p class="card-text"> <i class="far fa-comment-dots"> Motivo: {{item.descripcion}}</i></p>
            <p class="card-text"> <i class="far fa-calendar-alt"> Fecha: {{item.fecha}}</i></p>
            <p class="card-text"> <i class="far fa-clock"> Hora: {{item.hora}}</i></p>
            <p class="card-text"> <i class="fas fa-map-signs"> Dirección: {{item.direccion}}</i></p>
            <p class="card-text"> <i class="fas fa-map-signs"> Altura: {{item.altura}}</i></p>
          
            <button type="button" class="btn mr-2 btn-light" routerLink="/main-nav/historial/reclamos"><i class="fas fa-edit"> Editar</i> </button>
            <button type="button" class="btn mr-2  btn-danger"><i class="fas fa-trash-alt"> Eliminar</i> </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
