:host {
  --colorPrincipal: #e6621f;
  --colorComplementario: #EDEDEE;
  --colorSegmentario: #898989;
  --colorOscuro: #333333;
  --colorFondoCuadros: rgb(224, 224, 224);
  --colorFondoEstructura:#f8f9fa;
  --colorTexto: #6d6d6d;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;

}

body {
  background-color: var(--colorFondoEstructura);
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: var(--colorPrincipal);
}

span {
  font-style: italic;
}



.borde {
  border-bottom: 2px solid rgba(35, 35, 35, 0.311);
}

/*  Scroll snap */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header__imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 50%;
}

.contenedor__titulo {
  text-align: center;
  margin: 3rem auto 0 auto;
}

.titulo__nosotros {
  color: var(--colorPrincipal);
}

.tecnologia__imagen {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
img {
 border-radius: 10px;

}

.subtitulo__nosotros, 
.tecnologias__subtitulos{
  font-size: 1.3rem;
  color: var(--colorTexto);
}


/* Tarjeta Integrantes */

.integrantes {
  margin: 2rem auto;
}

.informacion__nombre {
  font-size: 2.5rem;
  color: var(--colorPrincipal);
}

.informacion__rol {
  font-size: 1.8rem;
  color: var(--colorSegmentario)
}

.informacion__nombre,
.informacion__rol {
  /* font-family: var(--fuentePrincipal); */
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 768px) {

  .informacion__nombre {
    font-size: 1.8rem;

    color: var(--colorPrinciapl);
  }

  .informacion__rol {
    font-size: 1rem;
    color: var(--colorSegmentario)
  }

}

.tecnologias {
  background-color: var(--colorFondoCuadros)
}

.tecnologias__informacion {
  text-align: center;
  
}








































/*---------------- Normalice --------------------- */