<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body class="body">
    <section class="home">   
        <div class ="in-flex"> 
            <img src="../../../../assets/img/JON.png" alt="JON">
          <!-- <img  src="../../../../assets/img/Banner-JON.jpeg" alt="Banner-JON" class="img"> -->
            <div class="in-flex"> 
                Grupo conformado por compañeros que supieron forjar una amistad en base a compartir conocimientos que se obtenia dentro del aula.
                <div class="reclamos"><img src="../../../../assets/img/mejorada3.png" alt="mejorada3">
                    
                    Nuestro gran primer dessarrollo web donde cada uno aporte desde lo que sabe y entiende, pero siempre con respeto y pasion por este arte.
                </div>
            </div>
        </div>
    </section>
</body>


