 *{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans,sans-serif';
    background-color:slategray;

}

.home{
    display: flex;
    flex-wrap: wrap;
}

.body{
    /* background-color: #edede; */
} 

.in-flex{
    flex : 1;
    background-color: marron;
    margin-bottom: 0px;
    min-width: 250px;
    text-align: right;
} 

.in-flex:first-child {
    flex : 2;
    padding: 25px;
    background-color: white;
    margin-bottom: 0px;
    margin: 20px;
}

.in-flex div{
    background-color: white;
    padding: 25px;
    margin : 20px;
}

.titulo{
    text-align: center;
}

.reclamos{
    flex : 2;
    padding: 25px;
    background-color: white;
    margin-bottom: 0px;
}
.h1{
    text-align: center;
}  