<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
</head>

<body>

  <main>

    <div class="container-fluid contenedor__titulo">

      <h1 class="titulo__nosotros">
        ¿Quiénes Somos?
      </h1>

      <div class="subtitulo__nosotros">
        <p> Somos una grupo de amigos transitando el ultimo año de la carrera de <span> Analista de Sistemas de
            Computación</span>, con el deber de realizar el proyecto final de tesis.
        </p>
        <br>
        <h2>Objetivo</h2>
        <p>
          El proyecto se originó con el objetivo de solucionar, agilizar la comunicación entre los ciudadanos y la municipalidad ante problemas causados en la localidad.
          <!-- Es un proyecto que se originó con el objetivo de solucionar el mal accionar que hay en la ciudad,  de que en la ciudad el accionar de la municipalidad no es la adecuada. -->
        </p>
        
      </div>


    </div>







    <div class="container integrantes">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 rounded border border-3">
            <img src="../../../../assets/img/omar.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <div class="tarjeta__informacion">
                <p class="informacion__nombre">D'Andrea Omar</p>
                <p class="informacion__rol">Software Dev</p>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 rounded border border-3">
            <img src="../../../../assets/img/nico.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <div class="tarjeta__informacion">
                <p class="informacion__nombre">Cervera Nicolas</p>
                <p class="informacion__rol">Software Dev</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 rounded border border-3">
            <img src="../../../../assets/img/javi.jpg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <div class="tarjeta__informacion">
                <p class="informacion__nombre">Ferri Javier</p>
                <p class="informacion__rol">Software Dev</p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>








    <div class="container-fluid tecnologias shadow-lg p-3 mb-5 rounded border border-3 ">

      <div class="container-fluid tecnologias__informacion borde">
        <h2>Tecnologías</h2>
        <div class="tecnologias__subtitulos">
          <p>Tecnologias utilizadas para el desarrollo de la aplicación</p>
        </div>
        

      </div>

      <div class="row">

        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/html.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/css.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/bootstrap.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/angular.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2  ">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/git.png" alt="">
        </div>
        <div class=" tecnologia__imagen col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
          <img class="img-fluid" src="../../../../assets/img/Tecnologias/sql.png" alt="">
        </div>


      </div>

    </div>

  </main>









</body>