@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';


.mapa{
   margin-top: 20px;
}

.header {
   color: #36A0FF;
   font-size: 27px;
   padding: 10px;
}

.bigicon {
   font-size: 35px;
   color: #36A0FF;
}

.form{
   margin-top: 20px;
}

.titulos{
   font-size: 20px;
}
#tituloComponente{
   font-size: 25px;
}

.inputs{
   border-color: brown;
}

#Alerta{
   margin-top: 20px;
   
}