<div class="container">
  <div class="form">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
            <fieldset>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fas fa-tasks" style="font-size: 30px;">  </i> </span>
                <div class="col-md-8">
                  <select name="example" style="width: 100%;">
                    <option value="A">Reclamo Ambiental</option>
                    <option value="B">Reclamo Vial</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-calendar bigicon"
                    style="color: black;"></i></span>
                <div class="col-md-8">
                  <input id="Fecha" name="name" type="date" placeholder="Fecha" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-clock-o bigicon"
                    style="color: black;"></i></span>
                <div class="col-md-8">
                  <input id="Hora" name="email" type="time" placeholder="Hora" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-map-marker bigicon"
                    style="color: black;"></i></span>
                <div class="col-md-8">
                  <input id="Ubicacion" name="phone" type="text" placeholder="Ubicación" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"
                    style="color: black;"></i></span>
                <div class="col-md-8">
                  <textarea class="form-control" id="Descripcion" name="message" placeholder="Descripción"
                    rows="7"></textarea>
                </div>
              </div>

              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center">
                  <i class="fa fa-camera bigicon" style="color: black;"></i>
                </span>
              </div>

              <div class="form-group">
                <div class="col-xs-8">
                  <input type="file" class="btn btn-light" name="imagen1" />
                </div>
              </div>
            </fieldset>
          </form>

          <div class="row">
            <div class="col-md-8 text-center">
              <button type="button" class="btn btn-success" style="width: 80%;" onclick="LimpiarCampos()">Enviar
                Reclamo</button>
            </div>
          </div>

          <div style="background-color: rgb(141, 41, 41);">
            <h3>tabla</h3>
            <div class="container" >
              <table class="table table-dark table-striped table-hover" style="color: white;">
                  <thead>
                      <tr>
                          <th scope="col">N° reclamo</th>
                          <th scope="col">dato1</th>
                          <th scope="col">dato2</th>
                          <th scope="col">dato3</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of recla">
                          <th> a {{item.IDReclamo}}</th>
                          <td> a {{item.fecha}}</td>
                          <td> a {{item.hora}}</td>
                          <td> a {{item.ubicacion}}</td>                         
                      </tr>  
                  </tbody>
              </table>

              
          <!-- </div>
            <tr *ngFor ="let item of rec;">
              <th>{{item.IDReclamo}}</th>
              <td>{{item.Fecha}}</td>
              <td>{{item.Hora}}</td>
              <th>{{item.Ubicacion}}</th>
            </tr>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
