
<!-- <Div class="contenedorReporte zoom">
  <iframe  src="https://app.powerbi.com/reportEmbed?reportId=8cf37a37-a3b3-4bb8-9c04-801a07cbd95f&autoAuth=true&ctid=9c230c21-e33c-4189-8f00-98e6c371204e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWJyYXppbC1zb3V0aC1iLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</Div> -->


<div class="container-fluid bloquePrimario">

  <div class="row">
    <div class="col-12 cajaPrincipal shadow-lg p-3 mb-5 rounded border border-2">

      <div class="row borde ">
        <div class="col-12 Centrado ">   
          <h5>Cantidad de Reclamos</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 Centrado">   
          <ngx-charts-number-card [scheme]="colorScheme" [results]="recuentoTarjeta" [cardColor]="cardColor"
          (select)="onSelect($event)">
        </ngx-charts-number-card>
        </div>
      </div>

     
    </div>

  </div>

  <div class="row">

    <div class="col-5 cajaSecundaria  shadow-lg p-3 mb-5 rounded border border-3 ">

      <div class="row borde">
        <div class="col-12 Centrado ">   
          <h5>Cantidad General de Categorías</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12 Centrado SegundaFila">
          <ngx-charts-pie-chart [scheme]="colorSchemeTorta" [results]="arregloTipoReclamos" [gradient]="gradientTorta"
          [legend]="showLegend" [animations2]="animations2" [legendTitle]="legendtitleTorta" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
          (select)="onSelect($event)">
        </ngx-charts-pie-chart>
        </div>
      </div>
    
    </div>

    <div class="col-1">

    </div>

    <div class="col-6 cajaTercera shadow-lg p-3 mb-5 rounded border border-3 ">
      <div class="row borde">
        <div class="col-12 Centrado ">   
          <h5>Causas Generales</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 Centrado SegundaFilaTorta2">
          <ngx-charts-pie-chart 
           
            scheme='flame' 
            [results]="arregloReclamosAmbientales" 
            [gradient]="gradient3"
            [legend]="showLegend3"
            [animations]="animations3"
            [legendTitle]="legendtitle" 
            [legendPosition]="legendPosicion3" 
            [labels]="showLabels3" 
            (select)="onSelect($event)">
          </ngx-charts-pie-chart>
        </div>
    
      </div>

      

      <!-- <ngx-charts-pie-grid [view3]="view3" [animations3]="animations3" scheme='fire' [results]="arregloReclamosAmbientales"
      [legend]="showLegend3" [legendTitle]="legendtitle"  (select)="onSelect($event)">
      </ngx-charts-pie-grid> -->
    </div>
  </div>
</div>



<div class="container-fluid ">

  <div class="row">
    <div class="col-12 cajaCuarta  shadow-lg p-3 mb-5 rounded border border-3">
     <!--  <ngx-charts-bar-vertical-2d [view4]="view4" [scheme]="colorScheme4" [results]="multi" [gradient4]="gradient4"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend4]="showLegend4" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle" [animations4]="animations4" (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d> -->
      <div class="row  borde">
        <div class="col-12 Centrado  ">   
          <h5>Reclamos Realizados al Año</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12 Centrado SegundaFilaTabla">
          <ngx-charts-bar-vertical
            scheme='night'
            [animations]="animacionBarras"
            [results]="arregloReclamosDeMesesyAnio"
            [gradient]="gradient5"
            [xAxis]="showXAxis5"
            [yAxis]="showYAxis5"
            [legend]="showLegend5"
            [legendTitle]="tituloLeyenda"
            [showXAxisLabel]="showXAxisLabel5"
            [showYAxisLabel]="showYAxisLabel5"
            [xAxisLabel]="xAxisLabel5"
            [yAxisLabel]="yAxisLabel5"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>

      <div class="row ">
        <div class="col-1">

        </div>
        <div class="col-4 shadow-lg p-3 mb-5 rounded border border-3 ">

          <form class=" row g-3 needs-validation" novalidate>
    
            <div class="col-md-12">
              <label for="validationCustomUsername" class="form-label">Año de tus reclamos</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-calendar-minus"></i></span>
                <input type="number" class="form-control" aria-describedby="inputGroupPrepend" required 
                [formControl]="txtAnio">
                <div class="invalid-feedback">
                  Ingrese un año valido.
                </div>
              </div>
            </div>
    
            <div class="col-12">
              <button class="btn btn-primary" type="submit" (click)="btnBuscarReclamosAnio()"><i class="fas fa-search"></i>   Buscar </button>
            </div>
          </form>
    
        </div>
      </div>

      
    </div>
  </div>
  

</div>