/* .example-card {
    max-height: 50%;
  } */

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.contenedorReporte {
  margin: 2%;
}

/* iframe{
  width:100%;
   height:600px;
 } */

/* .bloquePrimario {
} */
.Centrado {
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cajaPrincipal {
  height: 200px; /* Alto */
  margin-top: 10px;
  background-color: rgb(224, 224, 224);
}

.cajaSecundaria {
  height: 400px; /* Alto */
  background-color: rgb(224, 224, 224);
}

.cajaTercera {
  height: 430px; /* Alto */
  background-color: rgb(224, 224, 224);
}

.cajaCuarta {
  height: 550px; /* Alto */
  background-color: rgb(224, 224, 224);
}

.borde{
  
  border-bottom: 2px solid rgba(35, 35, 35, 0.311);
}

.SegundaFila{
  height: 430px;
}
.SegundaFilaTorta2{
  height: 400px;
}
.SegundaFilaTabla{
  height: 300px;
}
.opciones{
  border-style: solid;
  border-width: medium;
  border-color: rgb(70, 70, 70);
}



/* Sacar las flechas del input tipo number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
