<!-- <div class="row" style="margin-top: 2%;">
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Tipos de Reclamos</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      <!-- </mat-card-header>
      <p></p>
      <mat-card-content>
        <ngx-charts-advanced-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="data"
        [gradient]="gradient"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        >
      </ngx-charts-advanced-pie-chart>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Exportar en PDF</button>
        <button mat-button>Exportar como Imagen</button>
      </mat-card-actions>
    </mat-card>    
  </div>

  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Estados de Reclamos</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      <!-- </mat-card-header>
      <p></p>
      <mat-card-content> -->
        <!-- <ngx-charts-bar-vertical-2d
        [view]="view2"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-vertical-2d> -->
      <!-- </mat-card-content>
      <mat-card-actions>
        <button mat-button>Exportar en PDF</button>
        <button mat-button>Exportar como Imagen</button>
      </mat-card-actions>
    </mat-card>   
  </div>
</div> --> 


<Div>
  <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=bed01352-dbf8-48f8-8a3b-47252c86d1dd&autoAuth=true&ctid=59319527-f76a-4040-892d-c6d86c2c2041&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>



</Div>