<mat-sidenav-container class="sidenav-container" style="font-family: 'Open Sans',sans-serif;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menu" style="font-family: 'Open Sans',sans-serif;">
      <!-- <img  id="logo" src="../../../../assets/img/mejorada3.png" alt="logo"> -->
    </mat-toolbar>
    <mat-nav-list class="button-menu" style="font-family: 'Open Sans',sans-serif;">
      <div class="row">

        <div class="col-md-12">
          <img src="../../../../assets/img/avatar.png " alt="" id="perfil-imagen">

          <!-- <button mat-icon-button color="basic">
            <mat-icon>settings</mat-icon>
          </button> -->
        </div>

        <div class="col-md-12">

        </div>

      </div>
      <!-- 1= administrador, 2= empleado y 3= usuario -->
      <div  *ngIf="(IDRol==1 || IDRol==3 || IDRol==2)">

        <a mat-list-item class="btn-grad" routerLink="./perfil" routerLinkActive="active"> <i class="fas fa-user-circle"
            style="font-size:  22px;" routerLink="./perfil" routerLinkActive="active"></i> Perfil</a>

        <a mat-list-item class="btn-grad" routerLink="./principal" routerLinkActive="active"><i class="fas fa-home"
            style="font-size:  22px;" routerLink="./principal" routerLinkActive="active"></i> Inicio</a>

        <a *ngIf="(IDRol==3)" mat-list-item class="btn-grad" routerLink="./reclamos"> <i class="fas fa-file-alt" style="font-size:  22px;"
            routerLink="./reclamos"></i> Reclamos</a>

        <a mat-list-item class="btn-grad" routerLink="./historial"> <i class="fas fa-heading" style="font-size:  22px;"
            routerLink="./historial"></i>Historial</a>

        <a *ngIf="(IDRol==3 || IDRol==1)" mat-list-item class="btn-grad"> <i class="fas fa-map-marked-alt" style="font-size:  22px;"></i>
          Mapa</a>
        
        <a *ngIf="(IDRol==1)" mat-list-item class="btn-grad"><i class="fas fa-clipboard" style="font-size:  22px;"></i>
          Reportes</a>

        <a *ngIf="(IDRol==1)" mat-list-item class="btn-grad" routerLink="./configuracion" ><i class="fas fa-tools" style="font-size:  22px;" routerLink="./configuracion"></i>
          Configuración</a>

          <a mat-list-item class="btn-grad" routerLink="./nosotros"> <i class="fas fa-users"
            style="font-size:  22px;"></i>Nosotros</a>

        <a mat-list-item class="btn-grad"> <i class="fas fa-info" style="font-size:  22px;"></i>
          Ayuda</a>
        <a mat-list-item class="btn-grad" (click)="goBack()"> <i class="fas fa-times" (click)="goBack()"
            style="font-size:  22px;"></i>
          Cerrar Sesión</a>

      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="cabecera" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu
        </mat-icon>
      </button>
      <span id="textoCabecera" style="font-family: 'Open Sans',sans-serif;">Reclamos Villa María</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="container-fluid">
      <!-- p-4 - antes tenia ese formato pero se modifico para que el historila tome todo el ancho del contenedor  -->
      <!-- En las demas pantallas no hay modificaciones pero en la que se nota para mejor es en el historial -->
      <!-- Se puede modificar -->
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>