<mat-sidenav-container class="sidenav-container" style="font-family: 'Open Sans',sans-serif;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menu" style="font-family: 'Open Sans',sans-serif;">
    <!-- <img  id="logo" src="../../../../assets/img/mejorada3.png" alt="logo"> --></mat-toolbar>
    <mat-nav-list class="button-menu" style="font-family: 'Open Sans',sans-serif;">
      <div class="row">

        <div class="col-md-12">
          <img src="../../../../assets/img/avatar.png " alt="" id="perfil-imagen">
         
          <!-- <button mat-icon-button color="basic">
            <mat-icon>settings</mat-icon>
          </button> -->
        </div>

      <div class="col-md-12">
        
      </div>
      </div>

      <a mat-list-item class="btn-grad" routerLink="/main-nav/perfil"> <i class="fas fa-user-circle"
          style="font-size:  22px;" routerLink="/main-nav/perfil"></i> Perfil</a>
      <a mat-list-item class="btn-grad" routerLink="/main-nav/reclamos"> <i class="fas fa-file-alt"
          style="font-size:  22px;" routerLink="/main-nav/reclamos"></i> Reclamos</a>
      <a mat-list-item class="btn-grad" routerLink="/main-nav/historial"> <i class="fas fa-heading"
          style="font-size:  22px;" routerLink="/main-nav/historial"></i>
        Historial</a>
      <a mat-list-item class="btn-grad" href="#"> <i class="fas fa-map-marked-alt" style="font-size:  22px;"></i>
        Mapa</a>
      <a mat-list-item class="btn-grad" href="#" routerLink="/main-nav/nosotros"> <i class="fas fa-users"
          style="font-size:  22px;"></i>
        Nosotros</a>
      <a mat-list-item class="btn-grad" href="#"><i class="fas fa-clipboard" style="font-size:  22px;"></i>
        Reportes</a>
      <a mat-list-item class="btn-grad" href="#"> <i class="fas fa-info" style="font-size:  22px;"></i>
        Ayuda</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="cabecera" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu
        </mat-icon>
      </button>
      <span id="textoCabecera" style="font-family: 'Open Sans',sans-serif;">Reclamos Villa María</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container p-4">
      <router-outlet></router-outlet>
    </div>

    <!-- <img clase ='fondo' src="../../../../assets/img/mejorada3.png" alt="mejorada3" style="width: 200%;">  -->

    <app-footer></app-footer>


  </mat-sidenav-content>
</mat-sidenav-container>
