<mat-sidenav-container class="sidenav-container" style="font-family: 'Open Sans',sans-serif;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menu" style="font-family: 'Open Sans',sans-serif;"></mat-toolbar>
    <mat-nav-list class="button-menu" style="font-family: 'Open Sans',sans-serif;">
      <div class="perfil">
        <img src="../assets/img/fotoOmar.jpeg " alt="" id="perfil-imagen">
        <p class="nombre-usuario"> hacer un engranaje para las opciones de edicion de perfil</p>
      </div>

      <a mat-list-item class="btn-grad" routerLink="/main-nav/perfil"> <i class="fas fa-user-circle fa-2x" routerLink="/main-nav/perfil"></i>  Perfil</a>
      <a mat-list-item class="btn-grad" routerLink="/main-nav/reclamos"> <i class="fas fa-file-alt fa-2x" routerLink="/main-nav/reclamos"></i> Reclamos</a>
      <a mat-list-item class="btn-grad" routerLink="/main-nav/historial"> <i class="fas fa-heading fa-2x" routerLink="/main-nav/historial"></i>
        Historial</a>
      <a mat-list-item class="btn-grad" href="#"> <i class="fas fa-map-marked-alt fa-2x"></i> 
        Mapa</a>
      <a mat-list-item class="btn-grad" href="#" routerLink="/main-nav/nosotros" > <i class="fas fa-users fa-2x"></i>
        Nosotros</a>
        <a mat-list-item class="btn-grad" href="#"><i class="fas fa-clipboard fa-2x"></i>
        Reportes</a>
      <a mat-list-item class="btn-grad" href="#"> <i class="fas fa-info fa-2x"></i>
        Ayuda</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="cabecera" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu
        </mat-icon>
      </button>
      <span id="textoCabecera" style="font-family: 'Open Sans',sans-serif;">Reclamos Villa María</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container p-4">
      <router-outlet></router-outlet>
    </div>
      
    

      <app-footer></app-footer>


  </mat-sidenav-content>
</mat-sidenav-container>
