<div class="container-fluid shadow-lg p-3 mb-5 rounded border border-2 divPrimario">
    <div class="container-fluid Centrado Bordes">
        <h3>Configuraciones</h3>
    </div>
    <div class="accordion config1">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Estados
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="container-fluid Centrado">
                                    <h3>Tipo de Estados</h3>
                                </div>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    (change)="obtenerIDTipoReclamo($event)">
                                    <option *ngFor="let item of objTipoEstado" value="{{item.idTipoEstado}}" selected>
                                        {{item.nombre}}</option>

                                </select>
                            </div>

                            <div class="col-12 divTabla" *ngIf="selectIDTipEstado!=0">
                                <table class="table table-hover table-bordered">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col"> - - </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of objEstadosDelTipo">
                                            <th scope="row">{{item.nombreTipoEstado}}</th>
                                            <td>{{item.nombre}}</td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-outline-primary btn-sm dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="fas fa-chevron-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                            <li><a class="dropdown-item"><i class="far fa-edit">
                                                                        Editar</i></a></li>
                                                            <li><a class="dropdown-item"><i class="far fa-trash-alt"> Borrar</i></a></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>  
                                        </tr>
                                        <tr>
                                            <th scope="row"> - </th>
                                            <th> - </th>
                                            <th> <button type="button" class="btn btn-outline-success btn-sm"><i class="fas fa-plus"> Agregar</i></button></th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="accordion-item" style="margin-top:20px">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Autos
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>







</div>

<!-- Dividirlo en card como los hace el facu -->

<!--   <div class="row">
        <div class="col col-3">
            <small style="text-align: center;">
                <h4>Estados</h4>
            </small>
            <table class="table table-striped hover">

                <thead>
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="display:none;" >id</td>
                        <td> Nombre Estado</td>
                        <td>
                            <button id="botonActualizar" class="btn btn-primary d-inline-block botonTabla" tabindex="0"
                                data-bs-toggle="tooltip" title="Actualizar"><i class="fas fa-sync fa-sm"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td style="display:none;">id</td>
                        <td> <input class="textoEstado" type="text" placeholder="Nombre Estado" id=""></td>
                        <td> <button id="botonConfirmar" class="btn btn-success d-inline-block botonTabla" tabindex="0"
                                data-bs-toggle="tooltip" title="Confrimar"><i class="fas fa-check fa-sm"></i></button>
                    </tr>

                </tbody>

            </table>
        </div>
        
    </div> -->